body {
    background-color: #ffe6eb;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #ff3366;
}

button {
    margin: 6px;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background-color: #ff5c8a;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #e63e6d;
}

#messageBox {
    margin-top: 25px;
    padding: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
}
